:root {
  --orange: hsl(26, 100%, 55%);
  --half-orange: hsla(26, 100%, 55%, 0.3);
  --pale-orange: hsl(25, 100%, 94%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc60;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container .side-nav {
  position: fixed;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 25px;
  z-index: 5;
  background-color: #fff;
  display: none;
}
@media (min-width: 992px) {
  header .container .side-nav {
    display: none !important;
  }
}
header .container .side-nav > .closeBtn {
  font-size: 30px;
  color: #6c6c6c;
  margin-bottom: 25px;
  cursor: pointer;
}
header .container .side-nav > .closeBtn:hover {
  color: #000;
}
header .container .side-nav .menu {
  display: flex;
  flex-direction: column;
}
header .container .side-nav .menu li {
  padding: 10px 0;
  cursor: pointer;
}
header .container .side-nav .menu li a {
  font-weight: 700;
  color: #6c6c6c;
}
header .container .side-nav .menu li:hover a {
  color: #000;
}
header .nav-bars {
  font-size: 25px;
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
}
@media (min-width: 991px) {
  header .nav-bars {
    display: none;
  }
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
header .logo {
  margin-right: 30px;
  font-weight: 700;
  letter-spacing: -1px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  list-style: none;
}
header nav li {
  position: relative;
  color: #6c6c6c;
}
header nav li:hover {
  color: #000;
}
header nav li:hover::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  bottom: -28px;
  z-index: 2;
}
header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
header .icons li {
  cursor: pointer;
}
header .icons .cartLi {
  position: relative;
}
header .icons .cartLi .num {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 15px;
  background-color: var(--orange);
  color: white;
  top: -5px;
  right: -5px;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
header .icons .cartLi .num.disabled {
  display: none;
}

header .icons .cartLi .cart-box {
  position: absolute;
  z-index: 5;
  width: 350px;
  min-height: 250px;
  top: 55px;
  right: -90px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 9px 15px 1px #8888884a;
}
header .icons .cartLi .cart-box.disabled {
  display: none;
}
@media (max-width: 991px) {
  header .icons .cartLi .cart-box {
    max-width: 98vw;
    top: 60px;
  }
}
header .icons .cart-box h3 {
  padding: 15px 15px;
  border-bottom: 1px solid #6c6c6c2b;
  cursor: auto;
}
header .icons .cartLi .cart-box .cart-box-prods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}
header .icons .cartLi .cart-box-prods li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: auto;
}
header .icons .cart-box-prods li img {
  width: 60px;
  border-radius: 5px;
}
header .icons .cart-box-prods li h4,
header .icons .cart-box-prods li p,
header .icons .cart-box-prods li i {
  color: #6c6c6c;
  font-weight: normal;
  line-height: 1.6;
}
header .icons .cart-box-prods li i {
  cursor: pointer;
}
header .icons .cart-box-prods li p span {
  color: black;
  font-weight: bold;
}
header .icons .cartLi .cart-box-prods li.checkout button {
  width: 100%;
  background-color: var(--orange);
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
header .icons .cartLi .cart-box-prods li.checkout.disabled button {
  display: none;
}
header .icons img.cart {
  width: 25px;
}
header .icons img.avi {
  width: 50px;
  border: 2px solid var(--orange);
  border-radius: 50%;
}
header .navigations {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

@media (max-width: 991px) {
  header .navigations nav {
    display: none;
  }
  header .navigations {
    flex-direction: row-reverse;
  }
}
.product {
  min-height: calc(100vh - 75px);
}
.product .container {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .product .container {
    display: block;
    width: 100%;
    padding: 0px;
  }
}
.imgs-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgs-side .img-display {
  position: relative;
  overflow: hidden;
}
.imgs-side .img-display .img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.8s ease;
}
.imgs-side .img-display .img-showcase img {
  min-width: 100%;
}
.imgs-side .img-display .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.imgs-side .img-display .arrows a {
  background-color: #fff;
  border-radius: 50%;
  padding: 15px 20px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .imgs-side .img-display .arrows {
    display: none;
  }
}
.imgs-side .img-select {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .imgs-side .img-select {
    padding: 0px 10px;
  }
}
.imgs-side .img-select .img-item.active {
  outline: 3px solid var(--orange);
  border-radius: 15px;
}
.imgs-side .img-select img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.product .content-side {
  position: relative;
}
.product .content-side .cont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 15px;
}
@media (max-width: 991px) {
  .product .cont {
    top: auto !important;
    transform: translateY(0) !important;
    margin-top: 15px;
  }
}
.product .content-side h5 {
  color: var(--orange);
  text-transform: uppercase;
}
.product .content-side h1 {
  margin: 15px 0px;
  font-size: 40px;
}
@media (max-width: 991px) {
  .product .content-side h1 {
    font-size: 26px;
  }
}
.product .content-side p {
  color: #757575;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .product .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.product .price .now {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.product .price .now a {
  background: var(--pale-orange);
  color: var(--orange);
  text-decoration: line-through;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 6px;
}
.product .content-side h4 {
  color: #6c6c6c50;
  text-decoration: line-through;
}
.product .buttons {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}

.product .buttons .calculs {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
}
.product .buttons .calculs li a {
  color: var(--orange);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.product .buttons .calculs li a.disabled {
  color: var(--half-orange);
  cursor: no-drop;
}
.product .content-side .calculs li a.count {
  color: black;
}
.product .buttons .cartAdd {
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 991px) {
  .product .buttons {
    display: block;
  }
  .product .content-side .calculs {
    margin-bottom: 15px;
  }
  .product .content-side .cartAdd {
    padding: 10px;
  }
}
.product .buttons .cartAdd i {
  color: white;
  margin-right: 0;
}
.product .buttons .cartAdd a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.product .buttons .cartAdd.disabled,
.product .buttons .cartAdd.cartAdd.disabled i,
.product .buttons .cartAdd.cartAdd.disabled a {
  cursor: no-drop;
  opacity: 0.5;
}
